#TOC {
}

#header {
}

#rmd-show-all-code {
}

#rmd-hide-all-code {
}

#rmd-download-source {
}


#htmlwidget-03d7156cd36a4fd90d72 {
    width: 100%;
    height: 500px;
}


#htmlwidget-8618a3f45dbb0df1e1ea {
    width: 100%;
    height: 500px;
}


#htmlwidget-9987a06790400d5b4a80 {
    width: auto;
    height: auto;
}

#rmd-source-code {
}

.container-fluid.main-container {
}

.row {
}

.col-sm-12.col-md-4.col-lg-3 {
}

.toc-content.col-sm-12.col-md-8.col-lg-9 {
}

.btn-group.pull-right.float-right {
}

.btn.btn-default.btn-xs.btn-secondary.btn-sm.dropdown-toggle {
}

.caret {
}

.dropdown-menu.dropdown-menu-right {
    min-width: 50px;
}

.divider {
}

.title.toc-ignore {
}

.subtitle {
}

.date {
}

.r {
}
